
.navbar {
    background-color: #2b3e50;
    height: 47px;
    display: flex;
    align-items: center;
}

.navbar a, .navbar .navbar__toggler {
    color: white;
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}


.navbar__wrapper {
    position: relative;
}

.navbar__list {
    list-style: none;
    display: flex;
    transition: .5s ease;
}

.navbar__toggler {
    font-size: 24px;
    display: none;
    transition: .5s ease;
}

.navbar__toggler:hover i {
    animation: icon-rotate 1.2s ease-in-out;
}

.navbar__toggler:focus i {
    animation: icon-rotate 1.2s ease-in-out;
}

@keyframes icon-rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.navbar__item a {
    padding: 3px 5px;
    margin-right: 10px;
    cursor: pointer;
}

.navbar__item a:hover, 
.navbar__item .navbar__dropdown__list .navbar__dropdown__item a:hover {
    color: #2980b9;
}

.navbar__dropdown {
    position: relative;
}

.navbar__dropdown__list {
    display: none;
}

.navbar__dropdown__list .navbar__dropdown__item {
    list-style: none;
    padding: 5px 10px;
    border-radius: .125rem;
    border-bottom: 1px solid #dfdada;
}

.navbar__dropdown__list .navbar__dropdown__item:last-child {
    border-bottom: none;
}

.navbar__dropdown__list .navbar__dropdown__item a {
    color: #2b3e50;
}

@media (max-width: 992px) {
    .navbar .container-fluid {
        justify-content: space-between;
    }

    .navbar__toggler {
        display: flex;
        align-items: center;
    }

    .navbar__list {
        display: none;
    }
}

/* When Toggle Navbar Click */
.navbar__toggler.active ~ .navbar__list{
    position: absolute;
    display: block;
    right: 0;
    top: 30px;
    white-space: nowrap;
    border-radius: .125rem;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
    z-index: 9999;
    transform-origin: 100% 0%;
    transform: scaleX(1) scaleY(1);
    animation: show-navbar .5s ease-in-out;
    transition: transform .5 ease-in-out;
}

@keyframes show-navbar {
    0% { 
        transform: scaleX(0) scaleY(0); 
    }
    100% { 
        transform: scaleX(1) scaleY(1); 
    }
}

.navbar__toggler.active ~ .navbar__list .navbar__item{
    padding: 10px 10px;
    border-bottom: 1px solid #dfdada;
    margin-right: 0;
}

.navbar__toggler.active ~ .navbar__list .navbar__item:last-child{
    border-bottom: none;
}

.navbar__toggler.active ~ .navbar__list .navbar__item a{
    color: #2b3e50;
}

.navbar__toggler.active ~ .navbar__list .navbar__dropdown__list {
    position: relative;
    top: 0;
    left: 0;
}

/* When Navbar Dropdown Click */
.navbar__dropdown.active .navbar__dropdown__list{
    display: block;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: white;
    white-space: nowrap;
    z-index: 9999;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .1),
                -5px 0px 5px rgba(0, 0, 0, .1);
}