/* Start CSS Reset */
*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
/* End CSS Reset */

/* Start Font Styling */
.text__center {
    text-align: center;
}

.text__left {
    text-align: left;
}

.text__right {
    text-align: right;
}

.text__justify {
    text-align: justify;
}
/* End Font Styling */

body {
    background-color: whitesmoke;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.banner__wrapper {
    margin-right: 35px;
}

.title__banner {
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}

.page {
    padding: 30px 0;
}

.header__page {
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    padding: 10px;
    position: relative;
    border-radius: .125rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.header__page::after {
    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 3px;
    background-color: #46C2CB;
    border-top-left-radius: .125rem;
    border-bottom-left-radius: .125rem;
}

.content__wrapper {
    margin: 30px auto;
    background-color: white;
    padding: 10px 15px 20px 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
}

.refresh__toggler {
    font-size: 14px;
    background-color: #5cb85c;
    display: flex;
    align-items: center;
    padding: 5px 15px;
    color: white;
    border-radius: .125rem;
    margin-bottom: 10px;
    box-shadow: 0px 3px 2px #245f24;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

.refresh__toggler i {
    font-size: 20px;
    margin-left: 5px;
}

.refresh__toggler:hover {
    background-color: #349634;
}

.refresh__toggler:focus {
    transform: translateY(3px);
    box-shadow: none;
    transition: all .15s ease;
}

.refresh__toggler:hover i {
    animation: icon-rotate 1.2s ease-in-out;
}

.table__wrapper {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #dfdada;
    white-space: nowrap;
}

.table th {
    color: #fff;
    background-color: #46C2CB;
}

.table tbody tr:nth-child(even){
    background-color: rgba(236, 236, 236, 0.95);
}

.table tbody tr:hover {
    background-color: rgba(165, 231, 255, 0.5);
}

.table tbody tr:hover td {
    border-color: rgb(118, 218, 255);
}

/* Start Loading Page */
.loading__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    display: none;
}


.loading__wrapper.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.spinner__icon {
    width: 64px;
    height: 64px;
    border-width: .40rem;
    border-style: solid;
    border-color: #dc3545;
    border-left-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner__text {
    color: white;
}

.spinner__text::after {
    animation: ellipsis 2s steps(3) infinite;
    content: ". . .";
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;
}

@keyframes ellipsis {
    0% { width: 0; }
    75% { width: 3ch; }
    100% { width: 5ch; }
}

/* End Loading Page */

/* Upload File */
#drop-area {
    border-style: dashed;
    border-width: 2px;
    border-color: #DFD3C3;
    height: 25vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}
#drop-area.highlight {
    border-color: #85586F;
}
.label__file {
    padding: 5px 15px;
    color: #16213E;
    border-radius: .125rem;
    background-color: #ECE8DD;
    border-radius: .125rem;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
}
.label__file:hover,
.label__file:active {
    color: #16213E;
}
.input__file {
    display: none;
}
#inputFile {
    display: none;
}
.info__input__file {
    font-size: 16px;
}
.submit__file {
    padding: .5rem;
    text-align: center;
    color: white;
    margin-top: 15px;
    border-radius: .175rem;
    cursor: pointer;
    width: 100%;
    background-color: #2b3e50;
}
#displayFile {
    margin: 15px 0;
    display: none;
    padding: 10px 0;
    position: relative;
}
#displayFile.active {
    display: flex;
    justify-content: space-between;
}
#displayFile.upload::after, #displayFile.upload::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 3px;
}
#displayFile.upload::before {
    width: 100%;
    background-color: whitesmoke;
}
#displayFile.upload::after {
    width: 0%;
    background-color: #2b3e50;
    animation: file_upload 1s ease;
}
@keyframes file_upload {
    0% { width: 0; }
    100% { width: 100%; }
}
#delFileElem {
    color: #FF0032;
    cursor: pointer;
}



