{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>

        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/png">
        <!-- ICON -->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

        <!-- STYLE -->
        <link rel="stylesheet" href="{% static 'css/css_grid.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>

    <body>

        <nav class="navbar">
            <div class="container-fluid">
                <div class="banner__wrapper">
                    <a href="{% url 'uncleaned_data' %}" class="title__banner">Spectra Clastering</a>
                </div>
                <div class="navbar__wrapper">
                    <button id="navbar-toggler" class="navbar__toggler" type="button">
                        <i class='bx bxs-grid' ></i>
                    </button>
                    <ul class="navbar__list">

                        {% if not upload_file %}
                            <li class="navbar__item">
                                <a href="{% url 'index' %}">Upload File</a>
                            </li>
                        {% endif %}

                        {% if upload_file %}
                            <li class="navbar__item">
                                <a href="{% url 'uncleaned_data' %}">Data Before Cleanup</a>
                            </li>
                            <li class="navbar__item">
                                <a href="{% url 'cleaned_data' %}">Data After Cleanup</a>
                            </li>
                            <li class="navbar__item">
                                <a id="download-html" href="">Download Pandas Profiling HTML</a>
                            </li>
                            <li class="navbar__item">
                                <a id="download-excel" href="">Download Excel</a>
                            </li>
            
                            {% if cluster_view %}
                                <li class="navbar__item navbar__dropdown">
                                    <a href="javascript:void(0)">Data Cluster</a>
                                    <ul class="navbar__dropdown__list">
                                        <li class="navbar__dropdown__item">
                                            <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster0">Data Cluster 0</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster1">Data Cluster 1</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster2">Data Cluster 2</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster3">Data Cluster 3</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="{% url 'download_and_show_data_cluster' %}?cluster=cluster4">Data Cluster 4</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="navbar__item navbar__dropdown">
                                    <a href="javascript:void(0)">Download Excel Cluster</a>
                                    <ul class="navbar__dropdown__list">
                                        <li class="navbar__dropdown__item">
                                            <a href="" class="download_excel_cluster">Excel Cluster 0</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="" class="download_excel_cluster">Excel Cluster 1</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="" class="download_excel_cluster">Excel Cluster 2</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="" class="download_excel_cluster">Excel Cluster 3</a>
                                        </li>
                                        <li class="navbar__dropdown__item">
                                            <a href="" class="download_excel_cluster">Excel Cluster 4</a>
                                        </li>
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block content %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}
        <script src="{% static 'js/download_file.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
        {% if cluster_view %}
        <script src="{% static 'js/download_file_cluster.js' %}"></script>
        {% endif %}
    </body>

</html>